{% extends "base.html.twig" %}

{% block body %}
    <h2>Boucle FOR</h2>
        {% for i in 1..10 %} {# les .. ==> que pour tableau associatif #}
            {{ i ~ "-"}}
        {% endfor %}
        <hr>
        {% for i in 0..9 %}
            {{ chiffres[i]}} {# X[i] ==> pour les objets #}
        {% endfor %}


    <h2>Boucle FOREACH</h2>
    {# syntaxe: for valeur in variableTableau #}
        {% for valeur in tableau %}
        {{ valeur }}
        {% endfor %}

     {# EXO utiliser la boucle FOR sur l'array chiffres et affichez chaq valeur divisé par 12 #}   

      <h2>Boucle FOR</h2>
    {# syntaxe: for valeur in variableTableau #}
        {% for chiffre in chiffres %}
        {{ chiffre /12 ~ " " }}
        {% endfor %}

{% endblock %}