{% extends "base.html.twig" %}

{% block body %}

    <h2>Afficher le conenu d'1 tableau</h2>
    <p>Nom: {{ tableau.nom}}</p>
    <p>Prenom: {{tableau.prenom}}</p>
    <p>Pour accéder à une valeur d'1 tableau associatif ou à une propriété d'un objet, j'utilse l'operateur <mark>.</mark> dans Twig</p>
{% endblock %}